{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1>Voter List</h1>
    
    <!-- Search/Filter Form -->
    <div class="row">
        {% include "voter_analytics/filter_form.html" %}
    </div>
    
    <!-- Pagination controls -->
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
                </li>
            {% endif %}
            <li>
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    
    <!-- Table of voters -->
    <div class="row">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>Date of Birth</th>
                <th>Party</th>
                <th>Voter Score</th>
            </tr>
            
            {% for voter in voters %}
            <tr>
                <td>{{ voter.first_name }}</td>
                <td>{{ voter.last_name }}</td>
                <td>{{ voter.street_number }} {{ voter.street_name }}
                    {% if voter.apartment_number %}
                        Apt {{ voter.apartment_number }}
                    {% endif %}
                </td>
                <td>{{ voter.date_of_birth }}</td>
                <td>{{ voter.party_affiliation }}</td>
                <td>{{ voter.voter_score }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <!-- Bottom pagination -->
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
                </li>
            {% endif %}
            <li>
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    
</div>
{% endblock %}