{% extends "restaurant/base.html" %}
{% block content %}
<h2>Place Your Ramen Order</h2>
<form method="post" action="{% url 'confirmation' %}">
    {% csrf_token %}

    <h3>Menu</h3>
    {% for item, price in menu.items %}
        <label>
            <input type="checkbox" name="{{ item }}"> {{ item }} - ${{ price }}
            <br><br>
        </label><br>
    {% endfor %}

    <h3>Daily Ramen Special</h3>
    <label>
        <input type="checkbox" name="daily_special" value="{{ daily_special }}">
        {{ daily_special }} - $16.50
    </label><br>

    <h3>Customer Information</h3>
    Name: <input type="text" name="name" required><br>
    <br><br>
    Phone: <input type="text" name="phone" required><br>
    <br><br>
    Email: <input type="email" name="email" required><br>
    <br><br>
    Special Instructions:<br>
    <textarea name="instructions"></textarea><br><br>
    
    <input type="submit" value="Submit Order">
</form>
{% endblock %}
